<footer role="contentinfo" class="bg-black border-t-2 border-red">
    <div class="max-w-xl m-auto">
        <div class="flex justify-center content-center items-center py-3">
            <div class="pr-3">
                <a href="/" title="Tin tức hằng ngày 24h">
                    <img src="http://4.bp.blogspot.com/-Ey4-aOBC0n4/W2cHHfptyBI/AAAAAAAAG5Y/xtSVt0n3S40WF8CPlzuEPs_4YwRHHM5hwCK4BGAYYCw/s1600/logo.png" alt="">
                </a>
            </div>
            <div class="text-white">
                <p class="mt-2">Copyright &copy; 2018 |  TIN TỨC HẰNG NGÀY 24H</p>
                <p>Địa chỉ: 180 Hoàng Văn Thụ - TP. Hà Nội</p>
                <p>Email: info@alotoiday.com</p>
                <p>Liên hệ quảng cáo: 0905 55 66 77</p>
            </div>
        </div>
    </div>
</footer>